<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/main.css"/>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-state-router/dist/state-router.min.js"></script>
    <script src="/node_modules/angular-state-view/dist/state-view.min.js"></script>
    <script src="/node_modules/angular-state-loadable/dist/state-loadable.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body ng-controller="FrameCtrl">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" sr-ref="landing">Storefront</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{'active': $stateRouter.active('landing') }"><a href="#" sr-ref="landing">Home</a></li>
            <li ng-class="{'active': $stateRouter.active('products') }"><a href="#" sr-ref="products.listing">Products</a></li>
            <li ng-class="{'active': $stateRouter.active('account') }"><a href="#" sr-ref="account">Account</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="screen" ng-class="{'active': $stateRouter.active('landing') }">
      <div class="jumbotron">
        <div class="container">
          <h1>Storefront</h1>
          <p>Full example using:</p>
          <ul>
            <li>StateRouter</li>
            <li>StateView</li>
            <li>StateLoadable</li>
          </ul>

          <p>An example of a direct link.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#" role="button" ng-click="callout()">See All Products</a>
          </p>
        </div>
      </div>
    </section>

    <section class="screen" ng-class="{'active': $stateRouter.active('products') }">
      <div class="container">
        <h1>Products</h1>

        <div class="row" ng-show="$stateRouter.active('products.listing')">
          <div class="col-xs-6 col-md-3">
            <a href="#" sr-ref="products" class="thumbnail">
              Item 1
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" sr-ref="products" class="thumbnail">
              Item 2
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" sr-ref="products" class="thumbnail">
              Item 3
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="#" sr-ref="products" class="thumbnail">
              Item 4
            </a>
          </div>
        </div>

      </div>
    </section>

    <section class="screen" ng-class="{'active': $stateRouter.active('account') }">
      <div class="container">
        <h1>Account</h1>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </section>

    <!-- Messages -->
    <div class="container messages">
      <h3>State changes from StateRouter ({{ $stateRouter.current().name }}) </h3>
      <div class="media" ng-repeat="item in messages">
        <div class="media-body">
          <h4 class="media-heading">{{item.title}}</h4>
          {{item.body}}
        </div>
      </div>

      <br>
      <a class="btn btn-default" ng-click="clearMessages()">Clear</a>
    </div>

  </body>
</html>
