<html ng-app="myApp">
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/main.css"/>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-state-router/dist/state-router.min.js"></script>
    <script src="/node_modules/angular-state-view/dist/state-view.min.js"></script>
    <script src="/node_modules/angular-state-loadable/dist/state-loadable.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body ng-controller="FrameCtrl">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" sref="landing">Demo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{'active': $stateRouter.active('states') }"><a href="#" sref="states">States</a></li>
            <li ng-class="{'active': $stateRouter.active('events') }"><a href="#" sref="events">Events</a></li>
            <li ng-class="{'active': $stateRouter.active('loadables') }"><a href="#" sref="loadables">Loadables</a></li>
            <li ng-class="{'active': $stateRouter.active('views') }"><a href="#" sref="views">Views</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="screen" ng-class="{'active': $stateRouter.active('landing') }">
      <div class="jumbotron">
        <div class="container">
          <h1>Demo</h1>
          <p>StateRouter is an AngularJS state-based router designed for flexibility and ease of use.</p>
          <p>StateRouter is designed to be used in a modular integration with:</p>
          <ul>
            <li>StateRouter</li>
            <li>StateView</li>
            <li>StateLoadable</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="screen" ng-class="{'active': $stateRouter.active('states') }">
      <div class="jumbotron">
        <div class="container">
          <h1>States</h1>
          <p>Lorem ipsum:</p>
          <blockquote>
            A finite state machine is a mathematical abstraction used to design algorithms. In simple terms, a state machine will read a series of inputs.  When it reads an input it will switch to a different state.  Each state specifies which state to switch for a given input.  This sounds complicated but it is really quite simple.
          </blockquote>
        </div>
      </div>
    </section>

    <section class="screen" ng-class="{'active': $stateRouter.active('events') }">
      <div class="jumbotron">
        <div class="container">
          <h1>Events</h1>
          <p>Lorem ipsum:</p>
        </div>
      </div>
    </section>

    <section class="screen" ng-class="{'active': $stateRouter.active('loadables') }">
      <div class="jumbotron">
        <div class="container">
          <h1>Loadables</h1>
          <p>Lorem ipsum:</p>
        </div>
      </div>
    </section>

    <section class="screen" ng-class="{'active': $stateRouter.active('views') }">
      <div class="jumbotron">
        <div class="container">
          <h1>Views</h1>
          <p>Lorem ipsum:</p>
        </div>
      </div>
    </section>

    <!-- Log -->
    <div class="container messages">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">StateRouter Events</h3>
        </div>
        <div class="panel-body">
          <div class="media" ng-repeat="item in messages">
            <div class="media-body">
              <h4 class="media-heading">{{item.title}}</h4>
              {{item.body}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <a class="btn btn-default" ng-click="clearMessages()">Clear</a>
        </div>
      </div>

    </div>

  </body>
</html>
